.interest {
    a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: .5px;
        color: black;
    }
}

.tag-img {
    margin-bottom: 5px;
    overflow: hidden;
}