@import "./scss/_config.scss";

.App {
    font-family: Arial;
    max-width: 1600px;
}

h1 {
    font-family: "bangersregular";
}

select {
    height: 30px;
    width: 50px;
    font-size: 18px;
    border: $content-border-light;
    outline: none;
    margin-left: 10px;

    &:focus {
        border: $content-border-light;
    }
}