$color-gold: rgba(178, 129, 23, 1);
$color-gold-light: rgba(225, 200, 82, 1);
$content-border: 2px solid black;

.page {
    background: white;
    padding: 30px 5px;
    border-left: 3px solid $color-gold;
    border-right: 3px solid $color-gold;

    h2 {
        text-align: center;
        margin: 30px 70px 50px;
        padding: 10px;
        background: $color-gold-light;
    }
}

@media only screen and (max-width: 800px) {
    .page {
        padding: 15px 5px;
        border: none;
    }
}