$color-gold: rgba(178, 129, 23, 1);
$color-gold-light: rgba(225, 200, 82, 1);
$color-gold-lightest: rgba(226, 211, 143, 1);
$content-border: 2px solid black;

.page {
    background: white;
    padding: 30px 5px;
    border-left: 3px solid $color-gold;
    border-right: 3px solid $color-gold;

    h2 {
        text-align: center;
        margin: 30px 70px 50px;
        padding: 10px;
        background: $color-gold-light;
    }
}

@media only screen and (max-width: 900px) {
    .page {
        padding: 15px 5px;
        border: none;
    }
}

.add-button {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .3px;
    padding: 10px 5px;
    background-color: $color-gold-light;
    border-style: none;
    border: 3px solid $color-gold-light;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: white;
    }
}

.strikethrough {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;
        border-color: inherit;
        -webkit-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -ms-transform:rotate(-5deg);
        -o-transform:rotate(-5deg);
        transform:rotate(-5deg);
    }
}

.sale-price {
    color: red;
    margin-left: 15px;
}

.discount-percentage {
    font-weight: 600;
    letter-spacing: 1.2px;
    background-color: red;
    color: white;
    padding: 3.5px;
}